* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
}
body {
  font-family: roboto;
}
/*  HEADER SECTION */
.header {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 5px 80px 80px 80px;
  justify-content: space-between;
}
.hero-text-header {
  font-size: 48px;
  font-weight: 900;
  margin-left: 20px;
}
.hero-text {
  margin-left: 20px;
}
.header-logo {
  font-size: 24px;
  margin-left: 20px;
  margin-top: 10px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.header-links {
  display: flex;
  gap: 20px;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 20px;
}
.header-bottom {
  display: flex;

  gap: 240px;
}
.header-bottom-left {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
}
.header-bottom-right {
  margin-right: 50px;
}
.header-img {
  height: 200px;
  width: auto;
}
.sign-up-button {
  margin: 10px 20px;
  background-color: #3882f6;
  width: auto;
  align-self: flex-start;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  color: #f9faf8;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #f9faf8;
}
li {
  list-style-type: none;
}

/*  CONTENT SECTION */

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-photo {
  height: 100px;
  width: auto;
  border: 2px solid #3882f6;
  border-radius: 5px;
}

.content-top {
  margin-top: 50px;
}
.info-text {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.info-section {
  display: flex;
  gap: 64px;
  justify-content: center;
  padding: 40px;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: auto;
  font-size: 18px;
}
.content-mid {
  position: relative;
  background-color: #e5e7eb;
  text-align: center;
  margin: 50px 0px 50px 0px;
  padding: 100px 100px;
  text-align: left;
}
.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1f2937;
  flex-shrink: 1;
}
.quoted-by-text {
  font-size: 24px;
  font-weight: 900;
  color: #1f2937;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.content-call-to-action {
  display: flex;
  margin: 50px;
  padding: 40px;
  width: 800px;
  height: auto;
  background-color: #3882f6;
  justify-content: space-between;
  border-radius: 5px;
}
.call-to-action-container {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.call-to-action-text {
  color: #f9faf8;
  font-size: 18px;
}
.CTA-sign-up-button {
  width: auto;
  padding: 4px 32px;
  border: none;
  border-radius: 5px;
  border-radius: 5px;
  background-color: #3882f6;
  color: #f9faf8;
  border: #f9faf8 solid;
  border-radius: 5px;
}
.CTA {
  font-size: 24px;
  font-weight: 900;
}
/*  FOOTER SECTION  */
.footer {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 32px;
}
